:{$PORT:80} {
    @api path /api/*
    handle @api {
        root * /app
        rewrite * /api/index.php
        php_server
    }

    root * /app/public
    try_files {path} /index.html
    file_server
}
